
    
body {
    margin: 0;
    padding: 0;
    background: url(image/depositphotos_150535834-stock-photo-light-pink-tulips-and-envelope.jpg);
    background-size: cover;
}
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;


}
.navbar .logo {
    top: 35px;
    left: 35px;
    font-size: 30px;
    color:white;
    align-items: center;
}
.navbar .logo span{
    font-size: 40px;
    color: brown;
}
.navbar .monNavbar ul {
    top: 35px;
    list-style-type: none;
    display: flex;

    

    
    
}

